{% extends "layout.twig" %}

{% block body %}
<h1>Reset Password</h1>
	<form  action="" method="POST" >
		<div class="form-group">
			<label for="" class="form-label">Username :</label>
			<input type="text" name="username" class="form-control"/>
		</div>
        <button type="submit" class="btn btn-success mt-3"> Reset</button>
        </form>

{% endblock body %}