{% extends "layout.twig" %}


{% block body %}
    <h1>Reset your Password</h1>
        	{% if errorFromUser %}
			<p class="text-danger">Please fix the following errors.</p>
			<ul class="errors">
				{% for error in errorFromUser %}
					{% if error.password %} <li>{{error.password.message}}</li> {% endif %}
					{% if error.passwordConfirm %} <li>{{error.passwordConfirm.message}}</li> {% endif %}
				{% endfor %}
			</ul>
	{% endif %}
    <form action="" method="POST">
        <div class="input-group flex-nowrap mt-3">
            <span class="input-group-text" id="addon-wrapping">password</span>
            <input type="password" class="form-control" name="password" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap mt-3">
            <span class="input-group-text" id="addon-wrapping">Repeat Password</span>
            <input type="password" name="passwordConfirm" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
    </form>

{% endblock body %}